In [1]:
list_elements = ["vaishnavi", "e", "third year", 789456123, "@123", "1 sibling"]

In [16]:
list_elements.append("violet")
print(list_elements)

['e', 'third year', 'vaishnavi', 789456123, '@123', 'violet', 'violet', 'violet']

In [10]:
list_elements.count("violet")

1

In [13]:
list_elements.index("violet")

6

In [18]:
list_elements.remove("violet")
print(list_elements)

['e', 'third year', 'vaishnavi', 789456123, '@123', 'violet', 'violet']

In [19]:
list_elements.pop()

'violet'

In [20]:
my_details = {"Name":"Vaishnavi E", "Age":19, "Mail":"vaishnavi@123", "Phone": 9156783451, 
              "College": "Jansons Institute of Technology"}

In [23]:
new = my_details.copy()
print("original:  " ,my_details)
print("copy:  " ,new)

original:   {'Name': 'Vaishnavi E', 'Age': 19, 'Mail': 'vaishnavi@123', 'Phone': 9156783451, 'College': 'Jansons Institute of Technology'}
copy:   {'Name': 'Vaishnavi E', 'Age': 19, 'Mail': 'vaishnavi@123', 'Phone': 9156783451, 'College': 'Jansons Institute of Technology'}

In [25]:
my_details.get("Name")

'Vaishnavi E'

In [26]:
my_details.items()

dict_items([('Name', 'Vaishnavi E'), ('Age', 19), ('Mail', 'vaishnavi@123'), ('Phone', 9156783451), ('College', 'Jansons Institute of Technology')])

In [27]:
my_details.keys()

dict_keys(['Name', 'Age', 'Mail', 'Phone', 'College'])

In [28]:
my_details.values()

dict_values(['Vaishnavi E', 19, 'vaishnavi@123', 9156783451, 'Jansons Institute of Technology'])

In [29]:
set_elements = {714,715,716,716,718,719,720}

In [30]:
print(set_elements)

{714, 715, 716, 718, 719, 720}

In [31]:
set_elements.add(721)

In [32]:
print(set_elements)

{714, 715, 716, 718, 719, 720, 721}

In [34]:
set_elements.difference()

{714, 715, 716, 718, 719, 720, 721}

In [35]:
set_elements.discard(714)

In [36]:
print(set_elements)

{715, 716, 718, 719, 720, 721}

In [37]:
set_elements.pop()

715

In [38]:
set_elements.clear()

In [39]:
print(set_elements)

set()

In [43]:
tuple_ele = ("vaishnavi", "programmer", "3", "violet","3","3")

In [46]:
tuple_ele.count("3")

3

In [47]:
tuple_ele.index("violet")

3

In [48]:
sentence = "My name is Vaishnavi. I am going to complete my first assignment in letsupgrade. the sessions are really interesting"

In [49]:
sentence.capitalize()

'My name is vaishnavi. i am going to complete my first assignment in letsupgrade. the sessions are really interesting'

In [50]:
sentence.casefold()

'my name is vaishnavi. i am going to complete my first assignment in letsupgrade. the sessions are really interesting'

In [52]:
sentence.encode()

b'My name is Vaishnavi. I am going to complete my first assignment in letsupgrade. the sessions are really interesting'

In [53]:
sentence.expandtabs()

'My name is Vaishnavi. I am going to complete my first assignment in letsupgrade. the sessions are really interesting'

In [54]:
sentence.find("am")

4